h1 {
	text-align:center;
	font-size:50px;
	font-family: "Impact";

}
h2 {
	font-size:40px;
	font-weight:normal;
	font-family: "Trebuchet MS"
}
p {
	font-size:30px;
	font-family: "Verdana";
}