p {
	width: 300px;
	text-align:justify;
}
h1 {
	color:#49BCBD;
	text-align: right;
}
h2 {
	color:rgb(208, 175, 210);
	text-align:center;
	width:300px;
}
h3 {
	color:red;
}

table {
	width:500;
}
th {
	text-align:left;
}
td {
	text-align:center;
}